
// Detail

.estate-editor-block {
	h4 {
		@include margin-tb(1.5,.5);
	}

	h4:first-child {
		margin-top: 0;
	}

	p {
		margin: 0;
		padding: 0;
		line-height: 1.8em;
	}

	.contact-form{
		p{
			padding-bottom: 0.875em;
		}
	}
}

.estate-detail {
	.imageCarousel {
		img {
			width: 120%;
			margin-left: -10%;
			filter: blur(15px);
			-webkit-filter: blur(15px);
			-moz-filter: blur(15px);
			-o-filter: blur(15px);
			-ms-filter: blur(15px);
		}
	}

	.img-estate-over {
		width: 100%;
		position: absolute;
		height: 100%;
		@include background-opacity($alpha-ui-color, .5);
	}

	.searchSmallForm {
	@include margin-tb(10,4);


	@include mq($bp4){
		@include margin-tb(8.5,2.5);
	}

	@include mq($bp3){
		@include margin-tb(8,1.5);
	}

	@include mq($bp2){
		@include margin-tb(0,0);
		@include padding-tb(8.5,1.5);
		@include background-opacity($alpha-text-color, .10);
	}
	}
}


.estate-header {
	@include margin-tb(12,6);

	@include mq($bp5){
		@include margin-tb(9.5,4);
	}

	@include mq($bp3){
		@include margin-tb(8.5,2);
	}


	@include mq($bp2){
		@include margin-tb(0,0);
		@include padding-tb(8.5,2);
		@include background-opacity($alpha-text-color, .10);
	}

}

.estate-wrapper {
	position: relative;
}

.estate-img {
	cursor: pointer;
	margin-top: -50px;
	position: absolute;
	right: 0;
	top: 0;
	height: 50px;
	line-height: 50px;
	background-color: $beta-ui-color;
	color: $gamma-ui-color;
	width: 32%;
	text-align: center;
	font-weight: $delta-font-weight;
	text-transform: uppercase;
	-webkit-transition: .5s; 
	transition: .5s;
	-webkit-filter: blur(10px);
    
}

.estate-img:hover {
	background-color: lighten($beta-ui-color, 10);
	-webkit-transition: .5s; 
	transition: .5s;
}

.estate-head {
	background-color: lighten($line-color, 15);

	@include padding-tb(0,.5);
	@include margin-tb(0,1);

	.ground {
		@include margin-tb(0,0);
		@include padding-tb(0,0);
		font-size: 1.728em;
		color: $alpha-ui-color;
		font-weight: $gamma-font-weight;
		float: right;
		text-align: right;

		@include mq($bp2){
			@include margin-tb(1,0);
			float: left;
			text-align: left;
		}
	}

	sup {
		vertical-align: super;
		font-size: .6em;
	}

	.ref {
		float: right;
		text-align: right;
		clear: both;
		margin-top: 0;

		@include mq($bp2){
			float: left;
			text-align: left;
		}
	}


	ul {
		@include px-margin-lr(1,0);
		list-style-type: none;
		padding-left: 0;
		margin-left: 0;
	}

	li {
		float: left;
		@include padding-tb(.1,.1);
		@include px-padding-lr(2,2);
		border: 1px solid $alpha-ui-color;
		margin-right: 1em;
		font-weight: $gamma-font-weight;
		text-transform: uppercase;
	}

	li:nth-child(n+2) {		
		color: $alpha-ui-color;
	}

	li:first-child {
		background-color: $alpha-ui-color;
		color: $gamma-ui-color;
	}
}

.e-table {
	sup {
		vertical-align: super;
		font-size: .6em;
	}
}

.list-fasc{
	list-style-type: none;
	@extend %clearfix;


	li::before{
		display: none !important;
	}
	
	li {
		img {
			width: 30px !important;
			margin-right: 20px;
			margin-left: 0 !important;
		}

		font-weight: $beta-font-weight;
		line-height: 60px;
	
		float: left;
		width: 33%;
	}
}

.maps-estate {
	width: 100%;
	height: 300px;
}

.overlay {
   background:transparent; 
   position:relative; 
   width:100%;
   height:300px; /* your iframe height */
   top:300px;  /* your iframe height */
   margin-top:-300px;  /* your iframe height */
}


.estate-share {
	@include margin-tb(1,0);
}

.estate-table {
	sup {
		vertical-align: super;
		font-size: .6em;
	}
	tbody {
		border-top: 1px solid $line-color;
		
		tr {
			td:first-child {
				font-weight: $alpha-font-weight !important;
			}
		}
	}
}



//
// AGENT
//

.agent-grid {
	position: relative;
}

.agent {
	z-index: -999;
}

.agentFixed {
	@include omq($bp5){
		@include margin-tb(7.5,0);
		position: fixed;
		top: 0;
		width: 345px;
	}
}

.agentBackFixed {
	@include omq($bp5){
		@include margin-tb(7.5,0);
		position: fixed;
		top: 0;
		width: 345px;
		-webkit-transition: .5s;
		transition: .5s;
	}
}

.agentHold {
	@include omq($bp5){
		margin-top: -20em;
		-webkit-transition: 1s;
		transition: 1s;
	}
}

//
// IMAGE OVERLAY
//


.img-box {
	width: 100%;
	height: 400px;
	overflow: hidden;
	position: relative;
}

.img-gallery {
	list-style-type: none !important;
	padding: 0;
	margin:0;
	height: 100%;
	position: relative;

	li::before {
		display: none !important;
	}

	li {
		width: 100%;
		height: 100%;
		text-align: center;
		line-height: 400px;
		position: absolute;
		@include background-opacity($line-color, 0.2);
	}

	img {
		vertical-align: middle;
		width: auto !important;
		margin: 0 !important;
		max-width: 100%;
		max-height: 100%;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}
}

.bullimgs {
	li::before {
		display: none !important;
	}
}


.prev-img, .next-img {
	background-color: $beta-ui-color;
	height: 40px;
	width: 40px;
	position: absolute;
	z-index: 50;
	background-size: 20px;
   	background-position: center;
   	margin-top: 180px;
   cursor: pointer;
   opacity: 0;
   -webkit-transition: .5s; 
	transition: .5s;
}



.img-box:hover {
	.prev-img, .next-img {
		opacity: .5;
		-webkit-transition: .5s; 
		transition: .5s;
	}
}

.prev-img {
	background-image: url(../img/arrow-left.svg);
	background-repeat: no-repeat;
	left: 0;
}


.next-img {
	right: 0;
	background-image: url(../img/arrow.svg);
	background-repeat: no-repeat;

}

.gallery-show {
	position: relative;
	opacity: 1;
	z-index: 10;
	-webkit-transition: 1s; 
	transition: 1s;
}

.gallery-hide {
	position: absolute;
	top: 0;
	z-index: -10;
	opacity: 0;
	-webkit-transition: 1s; 
	transition: 1s;
}








