//
// Header
//

#topWrapper {
	height: 100%;
}

#header {
	position: fixed;
	top: 0;

}

// .header-holder, .header-top, .hreader-main, .header-nav {
// 	width: 100%;
// 	clear: both;
// }

// .header-top, .header-main, .header-nav {
// 	z-index: 999;
// }

// .header-holder {
// 	z-index: 999;
// }

// .header-wrapper {
// 	position: fixed;
// 	// background-color: $gamma-ui-color;
// 	z-index: 99;
// 	-webkit-transition: 1s; 
//  	transition: 1s;

//  	@include mq($bp3) {
//  		position: absolute;
//  		width: 100%;
//  		top: 0;
//  		left: 0;
//  	}
// }


// .header-spacer {
// 	width: 100%;
// 	height: 135px;

// 	@include mq($bp3){
// 		height: 90px;
// 	}

// }

// .header-top {
// 	@include padding-tb(0,.2);	
// 	-webkit-transition: 1s; 
//  	transition: 1s;

//  	ul {
//  		-webkit-transition: .5s; 
// 			transition: .5s;
//  	}
// }

// .header-main {
// 	// @include padding-tb(.5,1.2);  //when languages are active 
// 	@include padding-tb(.7,1);
// 	-webkit-transition: 1s; 
//  	transition: 1s;
// }

// .header-nav {
// 	background-color: $alpha-ui-color;
// 	@include padding-tb(.3,.3);
// 	// -webkit-transition: 1s; //when languages are active
//  	// transition: 1s; //when languages are active
//  	-webkit-transition: .5s;
//  	transition: .5s;
//  	height: 42px;
//  	overflow: hidden;

//  	@include mq($bp3){
//  		display: none;
//  	}
 	
// }

// .hr-shadow-down {
// 	position: absolute;
// 	bottom: 0;
// 	z-index: 100;
// 	width: 100%;
//     border: 0;
//     height: 10px;
//     margin-bottom: -10px;
//     z-index: 0;
//     box-shadow: inset 0 10px 10px -10px rgba(0, 0, 0, 0.75);
// }


// .logo {
// 	width: 300px;
// 	float: left;

// 	@include mq($bp2){
// 		width: 200px;
// 		margin-top: 7px;
// 	}
// }

// //
// // Search form in header
// //

// .search-nav {
	
// }


// // header scroll

// .header-scroll {

	

// @include omq($bp3){
 		

// 	-webkit-transition: 1s; 
//  	transition: 1s;

// 	.header-top {
// 		ul {
// 			margin-top: -33px;
// 			-webkit-transition: .5s; 
//  			transition: .5s;
// 		}
// 			-webkit-transition: .5s; 
//  			transition: .5s;
// 	}

// 	.header-main {
// 		@include padding-tb(.7,1);
// 		-webkit-transition: .5s; 
//  		transition: .5s;
// 	}

// 	.header-nav {
// 		height: 2px; 
// 		overflow: hidden;
// 		padding: 0;
// 		// -webkit-transition: .5s; 
//  	// 	transition: .5s;
// 	}

// 	.blurheader {
//    		height: 95px;
//    		@include background-opacity($gamma-ui-color, .96);
//    		-webkit-transition: .5s; 
//  		transition: .5s;
// 	}
// }
// }


// .header-scroll2 {
// @include omq($bp3){

// 	.blurheader {
//    		@include background-opacity($gamma-ui-color, .96);
//    		-webkit-transition: .5s; 
//  		transition: .5s;
// 	}
// }
// }




//
// Main
//

#main {
	width: 100%;
	height: 100%;
}


.block {
	@include margin-tb(.5,1);
}

.block2 {
	@include margin-tb(2.5,0)
}

.block3 {
	@include margin-tb(1,1);
}

.block4 {
	@include margin-tb(1.5,1);
}

.block-title {
	text-align: center;


	h1 {
		color: $delta-text-color;
		text-transform: uppercase;
		font-size: 1.728em;
		// color: $beta-text-color;
	}

	p {
		padding-top: 0;
		font-size: 1.2em;
		color: $beta-text-color;
	}
}


.content-block-2-3 {
	.editor-block {

		p {
			line-height: 1.8em;
		}

		h3, h4 {
			color: $alpha-ui-color;
		}
		@extend %underlineBlue;
		
		a, a:hover, a:visited, a:active {
			color: $beta-ui-color;
		}

		img {
			width: 80%;
			margin-left: 10%;
			@include margin-tb(.5,.5);
		}

		ul {
			list-style-type: none;

			li::before {
				content: "";
				background: url('../img/arrow-blue.svg') no-repeat;
				display: block;
				float: left;
				height: .5em;
				width: .5em;
				margin-top: 9px;
				margin-right: .5em;
			}


			li {
				margin-bottom: .4em;
				@extend %clearfix;
			}
		}
	
		table {
			border-collapse: collapse;
			border-spacing: 0; 
		  	color: $alpha-text-color;
		  	font-size: 1em;
			@include margin-tb(.5,.5); 
		  	width: 100%; 
		}

		table, th, td {
			text-align: left;
			border-bottom: 1px solid $line-color;
			border-collapse: collapse;
		}

		tbody {
			border-top: 1px solid $line-color;
			
			tr {
				td:first-child {
					font-weight: $gamma-font-weight;
				}
			}
		}

		tbody td, th{
			@include padding-tb(.3,.3);
			@include px-padding-lr(2,2);
		}

		tbody tr:hover {
			background-color: lighten($line-color, 10); 
		}

	}
}


 

//
// Footer
//

#cookieBar {
	position: fixed;
	bottom: 0;
	width: 100%;
	background-color: $alpha-ui-color;
	text-align: center;
	color: $gamma-ui-color;
	@include padding-tb(.6,.6);
	z-index: 9999;
	line-height: 2em;
	@include background-opacity($alpha-ui-color,.9);

	a {
		border: 1px solid $gamma-ui-color;
		@include px-padding-lr(1,1);
		@include padding-tb(.1,.1);
		background-color: $alpha-ui-color;
		-webkit-transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
	}

	a:hover {
	  background-color: $gamma-ui-color;
	  color: $alpha-ui-color;
	}


	a, a:hover, a:visited, a:active {
		white-space: nowrap;
	}
}

.footer-holder {
	position: relative;
	overflow: hidden;
	@include background-opacity($alpha-ui-color, 0.8);
	color: $gamma-ui-color;
	@include margin-tb(1.5,0);

	h6 {
		color: $gamma-ui-color;
		margin-bottom: 1em;
	}

	a, a:hover, a:visited, a:active {
		white-space: nowrap;
	}
}


.footer-bg {
	 display:block;
    -webkit-filter: blur(15px);
    -moz-filter: blur(15px);
    -o-filter: blur(15px);
    -ms-filter: blur(15px);
    filter: blur(15px);
    opacity: 0.95;

	z-index: -999;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;

	img {	
		max-width: none;
		width: 100%;
	}

	
	

}


.footer-holder-end {
	background-color: $beta-ui-color;
	@include padding-tb(.1,0);
	p {
		font-size: .833em;
	}

	a {
		padding-top: .1em;
	}
}

.legal {
	float: left; 
	@extend %underline;

	@include mq($bp2){
		float: initial;
		margin-top: .7em;
		text-align: center;
	}
}

.design {
	float: right;
	@extend %underline;

	@include mq($bp2){
		float: initial;
		margin-bottom: .7em;
		text-align: center;
	}
}


//
// Mailchimp
//


.subscribe-wrapper {
		border-bottom: 2px solid $gamma-ui-color;
}

.mailchimp-subscribe {
	h5 {
		color: $gamma-ui-color; 
		text-align: center;
	}

	.subscribe-sm {
		img {
			height: 30px;
			opacity: 1;
			-webkit-transition: .5s; 
		 	transition: .5s;
		}

		img:hover {
			opacity: .65;
			-webkit-transition: .5s; 
		 	transition: .5s;
		}
	}
}


.subscribe-email {
	margin-left: 26%;
	width: 30%;
	display: block;
	float: left;
	border: 0;
}


.subscribe-button {
	float: left;
	transition: 0.2s;
	-webkit-transition: 0.2s;


	overflow: visible;
	position: relative;
	padding-right: 30px;
	display: block;
	cursor: pointer;
	background-color: $beta-ui-color;
	font-size: 1.2em;
	color: $gamma-ui-color;
	font-weight: $gamma-font-weight;
	border: 0;
	width: 18%;
	height: 40px;
	line-height: 20px;

	p {
		padding: 0;
		padding-left: 10px;
		text-align: left;
	}

  
  &:hover {
    background-color: lighten($beta-ui-color, 5);
    
    svg {
      transform: rotate(10deg);
      transition: transform .15s;
    }
  }
  
  svg {
    position: absolute;
    top: 5px;
    right: 15px;
    height: 28px;
    width: auto;
    transition: transform .15s;
    
    path {
      fill: $gamma-ui-color;
    }
  }
  
  &.mailchimp-clicked {
    background-color: $alpha-ui-color;
    color: $gamma-ui-color;
    padding-right: 6px;
    animation: bounce-in .3s;
    cursor: default;

    p {
    	text-align: center;
    }

    svg {
      animation: flyaway 1.3s linear;
      top: -80px;
      right: -1000px;
      
      path {
        fill: $gamma-ui-color;
      }
    }
  }
}

@keyframes flyaway {
  0%   { transform: rotate(10deg);
         top: 13px;
         right: 25px;
         height: 30px; }
  5%   { transform: rotate(10deg);
         top: 13px;
         right: 0px;
         height: 30px; }
  20%   { transform: rotate(-20deg);
          top: 13px;
          right: -130px;
          height: 45px; }  
  40%   { transform: rotate(10deg);
          top: -40px;
          right: -280px;
          opacity: 1; }
  100% { transform: rotate(60deg);
         top: -200px;
         right: -1000px;
         height: 0;
         opacity: 0; }
}

@keyframes bounce-in {
  0% { padding-right: 30px; }
  40% { padding-right: 6px; }
  50% { padding-left: 30px; }
  100% { padding-left: 6px; }
}



