//
// Overview Widget
//

.overview {

}

.overview-holder {
	width: 100%;
	display: flex;
	 .grid-item {
	 	flex: 1;
	 }
}

.overview-item-cta {
	position: absolute;
	margin-bottom: -20px;
	left: 50%;
	margin-left: -20px;
	bottom: 0;
	width: 40px;
    height: 40px;
    background: $beta-ui-color;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    text-align: center;
     -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
	border: 2px solid $beta-ui-color;

    a {
    	display:inline-block;
    	width: 100%;
    	height: 100%;
    	-moz-border-radius: 20px;
    	-webkit-border-radius: 20px;
    	border-radius: 20px;
    }

    img {
    	margin-top: 8px;
    	width: 20px;
    }
}

.overview-item-cta:hover {
	border: 2px solid $delta-text-color;
	@include background-opacity($alpha-text-color,.5);
	 -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.overview-item {
	height: 100%;
	overflow: hidden;
	background-color: lighten($delta-text-color,50);
	box-shadow: 5px 5px 15px lighten($beta-text-color,55);

	.overview-item-thumbnail {
		width: 100%;
	}

	h4, p {
		@include px-padding-lr(3,3);
		text-align: center;
	}

	p {
		// font-size: .9em;
	 	color: lighten($alpha-text-color, 35);
	}

	.overview-item-top {
		position: relative;
	}

	.overview-item-bottom {
		@include padding-tb(2,1.5);
	}

	.overview-subtitle {
		text-align: center;
		color: $alpha-ui-color;
		font-family: $beta-font-family; 
		font-size: .9em;
		@include padding-tb(.5,1.5);
	}


}
