//
// SPOTLIGHT
//

// Panden in de kijker



.wrapper-spotlight {
	position: relative;

	.spotlight-block {
		img {
			opacity: 0;
		}
	}

	.loaded {
		img {
			opacity: 1;
			-webkit-transition: .5s;
			transition: .5s;
		}
	}
}

.spotlight-show {
	position: relative;
	z-index: 10;
	-webkit-transition: 1s; 
	transition: 1s;
}

.spotlight-hide {
	position: absolute;
	top: 0;
	z-index: -10;
	opacity: 0;
	-webkit-transition: 1s; 
	transition: 1s;
}

.spotlight-block {
	overflow: hidden;
	position: relative;
	height: 300px;


	@include mq($bp4){
		height: 250px;
	}

	@include mq($bp2){
		margin-bottom: 25px;
	}
}



.spotlight-blog-img {
	width: 150%;
	margin-left: -25%;
}

.spotlight-content {
	margin-bottom: -2.5em;
	position: absolute; 
	left: 0; 
	bottom: 0;

	width: 100%;
	@include background-opacity($gamma-ui-color, 0.9);
	@include padding-tb(.5,0);
	@include px-padding-lr(2,2);

	-webkit-transition: .5s; 
	transition: .5s;

	a, a:hover, a:active, a:visited, p {
		color: $alpha-text-color;
	}

}

.spotlight-one {
	@include mq($bp3){
		@include omq($bp2){
			margin-bottom: 15px;
			height: 300px;
		
			.spotlight-block {
				height: 300px;

				.spotlight-blog-img {
					margin-top: -100px;
					width: 100%;
					margin-left: 0;
				}
			}
		}
	}

}


.spotlight-more {
	opacity: 0;
	-webkit-transition: .5s; 
	transition: .5s;
	background-color: $beta-ui-color;
	position: absolute;
	top: 0;
	right: 0;
	margin-top: 20px;
	margin-right: 20px;
	padding: 5px 5px 2px 5px;


	img {
		margin-top: 2px;
		width: 20px;
		height: 20px;
		position: relative;
		padding: 0;
		margin: 0;
	}
}


a:hover {
	.spotlight-content {
		margin-bottom: 0;
		-webkit-transition: .5s; 
		transition: .5s;
	}
	.spotlight-more {
		opacity: .9;
		-webkit-transition: .5s; 
		transition: .5s;
	}
}

.spotlight-mobile {
	.spotlight-content {
		margin-bottom: 0;
		-webkit-transition: .5s; 
		transition: .5s;
	}
	.spotlight-more {
		opacity: .9;
		-webkit-transition: .5s; 
		transition: .5s;
	}
}


// BULLETS

.bullets, .bullits, .bullots, .bullimgs {
	list-style:none;
    margin:0;
    padding:0;
    text-align:center;
    @include margin-tb(1,0);
}

.bullet, .bullit, .bullot, .bullimg {
	cursor: pointer;
	border-radius: 50%;
	width: 10px;
	height: 10px; 
	border: 1px solid $beta-ui-color;
	margin-right: 15px;
 	display:inline-block;
}

.bullet:last-child, .bullit:last-child, .bullot:last-child, .bullimg:last-child {
	margin-right: 0px;
}

.bulletSelected, .bullitSelected, .bullotSelected, .bullimgSelected  {
	background-color: $beta-ui-color;	
	transition: 0.4s;
}

.bulletNotSelected, .bullitNotSelected, .bullitNotSelected, .bullimgNotSelected {
	background-color: transparent;	
	transition: 0.4s;
}







//
// Populair
//

// Populaire regio's home 


.regio {

	.regio-block {
		img {
			opacity: 0;
		}
	}

	.loaded {
		img {
			opacity: 1;
			-webkit-transition: .5s;
			transition: .5s;
		}
	}
}

.regio-block {
	overflow: hidden;
	position: relative;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	-webkit-transition: .75s; 
 	transition: .75s;

	img {
		min-height: 100%;
		min-width: 100%;
		position: absolute;
		top: 0;
		right: 0;
		z-index: -999;
		-webkit-transition: .75s; 
	 	transition: .75s;
	}

	.regio-fade {
		@include background-opacity($alpha-ui-color,0.1);
		height: 100%;
		width: 100%;
		position: absolute;
		top: 0;
		right: 0;
		z-index: -99;
	}



	h3 {
		text-align: center;
		color: $gamma-ui-color;
		text-shadow: 1px 1px $alpha-text-color;
		-moz-text-shadow: 1px 1px $alpha-text-color;
		-webkit-text-shadow: 1px 1px $alpha-text-color;

		@include mq($bp4){
			font-size: 1.728em;	
		}
	}
}

.regio-block:hover {

	img {
		-webkit-filter: blur(2px);
	    -moz-filter: blur(2px);
	    -o-filter: blur(2px);
	    -ms-filter: blur(2px);
	    filter: blur(2px);
	    -webkit-transition: .75s; 
	 	transition: .75s;
	}

	@include background-opacity($alpha-text-color, .2);

	// // -webkit-box-shadow: inset 10px 10px 24px -10px rgba(0,0,0,0.1);
	// // -moz-box-shadow: inset 10px 10px 24px -10px rgba(0,0,0,0.1);
	// // box-shadow: inset 10px 10px 24px -10px rgba(0,0,0,0.1);
 		-webkit-transition: .75s; 
 		transition: .75s;
}

.regio-block1, .regio-block2 {
	h3 {
		line-height: 280px;

		@include mq($bp4){
			line-height: 250px;
		}
	}
}


.regio-block3 {
	h3 {
		line-height: 625px;
	
		@include mq($bp4){
			line-height: 525px;
		}

		@include mq($bp3){
			line-height: 250px;
		}

	}
}

.regio-block1 {
	height: 300px;
	margin-bottom: 25px;

	@include mq($bp4){
		height: 250px;
	}


}

.regio-block2 {
	height: 300px;

	@include mq($bp4){
		height: 250px;
	}
	
	@include mq($bp3){
		margin-bottom: 25px;
	}
}


.regio-block3 {
	height: 625px;

	@include mq($bp4){
		height: 525px;
	}

	@include mq($bp3){
		height: 250px;
		margin-bottom: 25px;
	}
}

.regio-right-block {
	float: right;
}

.regio-block1, .regio-block2 {

}