/*
  Functions
*/
.wrapper, .wrapper-inner, .link-white, .list-arrow li, .footer-info ul li, .content-block-2-3 .editor-block ul li {
  *zoom: 1; }
  .wrapper:before, .wrapper-inner:before, .link-white:before, .list-arrow li:before, .footer-info ul li:before, .content-block-2-3 .editor-block ul li:before, .wrapper:after, .wrapper-inner:after, .link-white:after, .list-arrow li:after, .footer-info ul li:after, .content-block-2-3 .editor-block ul li:after {
    display: table;
    content: ""; }
  .wrapper:after, .wrapper-inner:after, .link-white:after, .list-arrow li:after, .footer-info ul li:after, .content-block-2-3 .editor-block ul li:after {
    clear: both; }

.list-arrow a, .footer-info ul a, .legal a, .design a {
  display: inline-block;
  position: relative; }
.list-arrow a:after, .footer-info ul a:after, .legal a:after, .design a:after {
  content: '';
  display: block;
  height: 1px;
  width: 0px;
  background: transparent;
  transition: width .25s ease, background-color .25s ease; }
.list-arrow a:hover:after, .footer-info ul a:hover:after, .legal a:hover:after, .design a:hover:after {
  width: 100%;
  background: #e5cea5; }

.blue-link a, .content-block-2-3 .editor-block a {
  display: inline-block;
  position: relative; }
.blue-link a:after, .content-block-2-3 .editor-block a:after {
  content: '';
  display: block;
  height: 1px;
  width: 0px;
  background: transparent;
  transition: width .25s ease, background-color .25s ease; }
.blue-link a:hover:after, .content-block-2-3 .editor-block a:hover:after {
  width: 100%;
  background: #cf5f7a; }

/*
	Grid
*/
/*
	Typography
*/
/*
	User Interface Elements
*/
.btn,
a.btn,
input.btn,
input[type="submit"].btn,
.btn-secondary,
input.btn-secondary,
input[type="submit"].btn-secondary,
a.btn-secondary {
  border-radius: 2px;
  position: relative;
  display: block;
  width: 100%;
  text-align: center;
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-family: "Gentium Basic", serif;
  font-weight: 700;
  cursor: pointer;
  text-decoration: none;
  transition: all .22s ease-in-out;
  transition-property: background, color, border;
  -webkit-appearance: none;
  -webkit-font-smoothing: antialiased; }
  .btn:hover,
  input[type="submit"].btn:hover,
  .btn-secondary:hover,
  input[type="submit"].btn-secondary:hover, .btn:visited,
  input[type="submit"].btn:visited,
  .btn-secondary:visited,
  input[type="submit"].btn-secondary:visited, .btn:active,
  input[type="submit"].btn:active,
  .btn-secondary:active,
  input[type="submit"].btn-secondary:active {
    text-decoration: none; }

.alert-box, .alert-box.error, .alert-box.success, .alert-box.notice {
  position: relative;
  padding: 0.875em 1.3125em;
  margin-bottom: 0.875em;
  cursor: pointer;
  background-color: #e5cea5;
  border-color: #dbbb81;
  border-style: solid;
  border-radius: 2px;
  border-width: 1px;
  color: #453e32; }
  .alert-box a, .alert-box.error a, .alert-box.success a, .alert-box.notice a {
    text-decoration: underline; }
  .alert-box a:hover,
  .alert-box a:active,
  .alert-box a:focus {
    text-decoration: none; }
  .alert-box a.close {
    position: absolute;
    top: 0.75em;
    right: 0.75em;
    display: block;
    line-height: 1;
    text-decoration: none; }
  .alert-box p, .alert-box.error p, .alert-box.success p, .alert-box.notice p {
    font-size: 1em;
    line-height: 1.75;
    padding-top: 0.4375em;
    padding-bottom: 0.4375em; }

/*
	Pagination mixin
*/
html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

article, aside, figure, footer, header, hgroup, nav, section, main {
  display: block; }

.wrapper {
  padding: 0;
  width: 100%; }

.wrapper-inner {
  margin: 0 auto;
  max-width: 67.5em;
  padding-left: 0px;
  padding-right: 0px; }
  @media (max-width: 37.5em) {
    .wrapper-inner {
      margin-left: 10px;
      margin-right: 10px; } }
  @media (max-width: 71.25em) {
    .wrapper-inner {
      padding-left: 20px;
      padding-right: 20px; } }
  @media (max-width: 53.75em) {
    .wrapper-inner {
      padding-left: 10px;
      padding-right: 10px; } }
  .wrapper-inner .wrapper-inner {
    padding-left: 0px;
    padding-right: 0px; }
    @media (max-width: 37.5em) {
      .wrapper-inner .wrapper-inner {
        margin-left: 0px;
        margin-right: 0px; } }
    @media (max-width: 71.25em) {
      .wrapper-inner .wrapper-inner {
        padding-left: 0px;
        padding-right: 0px; } }
    @media (max-width: 53.75em) {
      .wrapper-inner .wrapper-inner {
        padding-left: 0px;
        padding-right: 0px; } }

.grid {
  clear: both;
  width: 102%;
  margin-left: -1%;
  margin-right: -1%; }

.grid-item {
  float: left;
  margin-left: 1%;
  margin-right: 1%; }

@media (max-width: 37.5em) {
  .grid-xs-1-1 {
    width: 98%; }

  .grid-xs-1-2 {
    width: 48%; } }
@media (min-width: 37.5em) and (max-width: 53.75em) {
  .grid-s-1-1 {
    width: 98%; }

  .grid-s-1-2 {
    width: 48%; }

  .grid-s-1-3 {
    width: 31.33%; }

  .grid-s-2-3 {
    width: 64.66%; }

  .grid-s-1-3 {
    width: 31.33%; }

  .grid-s-2-3 {
    width: 64.66%; } }
@media (min-width: 53.75em) and (max-width: 60em) {
  .grid-m-1-1 {
    width: 98%; }

  .grid-m-1-2 {
    width: 48%; }

  .grid-m-1-3 {
    width: 31.33%; }

  .grid-m-2-3 {
    width: 64.66%; } }
@media (min-width: 60em) {
  .grid-l-1-1 {
    width: 98%; }

  .grid-l-1-2 {
    width: 48%; }

  .grid-l-1-3 {
    width: 31.33%; }

  .grid-l-2-3 {
    width: 64.66%; }

  .grid-l-1-4 {
    width: 23%; }

  .grid-l-2-4 {
    width: 47%; }

  .grid-l-3-4 {
    width: 73%; } }
.btn,
a.btn,
input.btn,
input[type="submit"].btn,
.btn-secondary,
input.btn-secondary,
input[type="submit"].btn-secondary,
a.btn-secondary {
  padding-left: 0.3125em;
  padding-right: 0.3125em;
  font-size: 1em;
  line-height: 1.3125;
  padding-top: 0.4375em;
  padding-bottom: 0.4375em;
  height: 2.1875em; }
  @media (max-width: 53.75em) {
    .btn,
    a.btn,
    input.btn,
    input[type="submit"].btn,
    .btn-secondary,
    input.btn-secondary,
    input[type="submit"].btn-secondary,
    a.btn-secondary {
      padding-left: 0.46875em;
      padding-right: 0.46875em;
      font-size: 1em;
      line-height: 1.3125;
      padding-top: 0.875em;
      padding-bottom: 0.875em;
      height: 3.0625em;
      display: inline-block;
      width: auto; } }
  @media (max-width: 71.25em) {
    .btn,
    a.btn,
    input.btn,
    input[type="submit"].btn,
    .btn-secondary,
    input.btn-secondary,
    input[type="submit"].btn-secondary,
    a.btn-secondary {
      padding-left: 0.625em;
      padding-right: 0.625em;
      font-size: 1.2em;
      line-height: 1.09375;
      padding-top: 0.7291666667em;
      padding-bottom: 0.7291666667em;
      height: 2.5520833333em; } }

.btn,
a.btn {
  border: 1px solid #e5cea5;
  background-color: #e5cea5;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0);
  color: #453e32; }
  .btn:hover, .btn:focus,
  a.btn:hover,
  a.btn:focus {
    border: 1px solid #efe1c9;
    background-color: #efe1c9;
    color: #48443c; }
  .btn:focus,
  a.btn:focus {
    text-decoration: underline; }
  .btn:active,
  a.btn:active {
    background-color: #efe1c9;
    box-shadow: none;
    color: #48443c; }
  .btn:visited,
  a.btn:visited {
    color: #453e32; }

.btn-secondary,
input.btn-secondary,
input[type="submit"].btn-secondary,
a.btn-secondary {
  border: 1px solid #cf5f7a;
  background-color: #cf5f7a;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0);
  color: #fdf7f8; }
  .btn-secondary:hover, .btn-secondary:focus,
  input.btn-secondary:hover,
  input.btn-secondary:focus,
  input[type="submit"].btn-secondary:hover,
  input[type="submit"].btn-secondary:focus,
  a.btn-secondary:hover,
  a.btn-secondary:focus {
    border: 1px solid #da8297;
    background-color: #da8297;
    color: #41272d; }
  .btn-secondary:focus,
  input.btn-secondary:focus,
  input[type="submit"].btn-secondary:focus,
  a.btn-secondary:focus {
    text-decoration: underline; }
  .btn-secondary:active,
  input.btn-secondary:active,
  input[type="submit"].btn-secondary:active,
  a.btn-secondary:active {
    background-color: #da8297;
    box-shadow: none;
    color: #41272d; }
  .btn-secondary:visited,
  input.btn-secondary:visited,
  input[type="submit"].btn-secondary:visited,
  a.btn-secondary:visited {
    color: #fdf7f8; }

.error-area {
  color: red; }
  .error-area input[type="input"],
  .error-area input[type="text"],
  .error-area input[type="email"],
  .error-area input[type="password"],
  .error-area input[type="search"],
  .error-area input[type="tel"],
  .error-area input[type="url"],
  .error-area input[type="number"],
  .error-area input[type="date"],
  .error-area input[type="month"],
  .error-area input[type="week"],
  .error-area input[type="time"],
  .error-area input[type="datetime"],
  .error-area input[type="datetime-local"],
  .error-area input[name="field_country_code"],
  .error-area input[name="field_city_code"],
  .error-area input[name="field_phone_int"],
  .error-area select[multiple],
  .error-area textarea {
    border-color: red; }
    .error-area input[type="input"]:focus,
    .error-area input[type="text"]:focus,
    .error-area input[type="email"]:focus,
    .error-area input[type="password"]:focus,
    .error-area input[type="search"]:focus,
    .error-area input[type="tel"]:focus,
    .error-area input[type="url"]:focus,
    .error-area input[type="number"]:focus,
    .error-area input[type="date"]:focus,
    .error-area input[type="month"]:focus,
    .error-area input[type="week"]:focus,
    .error-area input[type="time"]:focus,
    .error-area input[type="datetime"]:focus,
    .error-area input[type="datetime-local"]:focus,
    .error-area input[name="field_country_code"]:focus,
    .error-area input[name="field_city_code"]:focus,
    .error-area input[name="field_phone_int"]:focus,
    .error-area select[multiple]:focus,
    .error-area textarea:focus {
      border-color: red; }

.error-help {
  display: block; }

.alert-box strong {
  color: #453e32; }
.alert-box a {
  color: #453e32; }

.alert-box.error {
  background-color: red;
  border-color: #d10000;
  border-style: solid;
  border-radius: 2px;
  border-width: 1px;
  color: #fff2f2; }
  .alert-box.error strong {
    color: #fff2f2; }
  .alert-box.error a {
    color: #fff2f2; }

.alert-box.success {
  background-color: green;
  border-color: #005200;
  border-style: solid;
  border-radius: 2px;
  border-width: 1px;
  color: #f2f9f2; }
  .alert-box.success strong {
    color: #f2f9f2; }
  .alert-box.success a {
    color: #f2f9f2; }

.alert-box.notice {
  background-color: yellow;
  border-color: #d1d100;
  border-style: solid;
  border-radius: 2px;
  border-width: 1px;
  color: #4d4d00; }
  .alert-box.notice strong {
    color: #4d4d00; }
  .alert-box.notice a {
    color: #4d4d00; }

.media-embed {
  width: 100%;
  height: 0;
  padding-bottom: 62.5%;
  position: relative;
  overflow: hidden;
  margin-bottom: 2.25em; }
  .media-embed iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0; }

a, a:hover, a:visited, a:active {
  text-decoration: none;
  outline: 0 !important; }

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: 0; }

html {
  height: 100%;
  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font: 400 100%/1.5 "Gentium Basic", serif; }

body {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizelegibility;
  color: #1e1e1e;
  background-color: #f9f9f7; }

::-moz-selection {
  background-color: #81c2dc;
  color: #c4c4c4;
  text-shadow: none; }

::selection {
  background-color: #81c2dc;
  color: #c4c4c4;
  text-shadow: none; }

hr {
  border: 1px solid #b7b7b7;
  border-width: 1px 0 0;
  clear: both;
  margin: 0 0 1.5em; }

img {
  vertical-align: top;
  border: 0; }

.clear {
  clear: both; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  color: #1e1e1e;
  text-rendering: optimizelegibility; }

h1 {
  font-weight: 800;
  font-size: 2.488em; }

h2 {
  font-weight: 800;
  font-size: 2.488em; }

h3 {
  font-weight: 700;
  font-size: 2.488em; }

h4 {
  font-weight: 700;
  font-size: 1.728em; }

h5 {
  font-weight: 700;
  font-size: 1.44em; }

h6 {
  font-weight: 700;
  font-size: 1.22em; }

p,
ol,
ul,
dl,
table,
address,
pre {
  font-size: 1em;
  line-height: 1.75;
  padding-top: 0.4375em;
  padding-bottom: 0.875em; }

.font-small {
  font-size: 0.833em; }

.font-normal {
  font-size: 1em; }

.font-medium {
  font-size: 1.2em; }

.font-large {
  font-size: 1.44em; }

.font-xlarge {
  font-size: 1.728em; }

table {
  text-align: left;
  width: 100%;
  font-family: "Gentium Basic", serif;
  border-spacing: 0;
  border-collapse: collapse;
  font-size: 0.875em;
  line-height: 1.7142857143em;
  margin-bottom: 3.4285714286em; }

caption {
  font-family: "Gentium Basic", serif;
  text-align: left;
  padding-bottom: 0.75em;
  margin-bottom: 0.75em; }

td,
th {
  padding: .25em 1em .25em 0;
  border-bottom: 1px solid #f0e4cd; }

img {
  max-width: none; }

.link-white a, .link-white a:hover, .link-white a:active, .link-white a:visited {
  color: #e5cea5; }

.blue-link a::before {
  content: "";
  background: url("../img/arrow-blue.svg") no-repeat;
  display: block;
  float: left;
  height: .5em;
  width: .5em;
  margin-top: 9px;
  margin-right: .5em; }
.blue-link a, .blue-link a:hover, .blue-link a:visited, .blue-link a:active {
  color: #cf5f7a;
  float: left; }

.list-arrow, .footer-info ul {
  list-style-type: none; }
  .list-arrow li::before, .footer-info ul li::before {
    content: "";
    background: url("../img/arrow.svg") no-repeat;
    display: block;
    float: left;
    height: .5em;
    width: .5em;
    margin-top: 9px; }
  .list-arrow li, .footer-info ul li {
    margin-bottom: .4em; }
  .list-arrow a, .list-arrow a:hover, .list-arrow a:visited, .list-arrow a:active, .footer-info ul a, .footer-info ul a:hover, .footer-info ul a:visited, .footer-info ul a:active {
    color: #e5cea5;
    padding-left: .5em;
    float: left; }

form {
  padding: 0 0 0.875em;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  width: 100%; }
  form p:last-child {
    position: relative;
    width: 100%; }

legend,
label {
  display: block;
  width: 100%;
  cursor: pointer;
  font-size: 1em;
  line-height: 1.75;
  padding-top: 1.3125em;
  padding-bottom: 0.4375em; }

input[type="input"],
input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="url"],
input[type="number"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[name="field_country_code"],
input[name="field_city_code"],
input[name="field_phone_int"],
select[multiple],
textarea {
  -webkit-appearance: none;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-family: "Gentium Basic", serif; }
  @media (max-width: 53.75em) {
    input[type="input"],
    input[type="text"],
    input[type="email"],
    input[type="password"],
    input[type="search"],
    input[type="tel"],
    input[type="url"],
    input[type="number"],
    input[type="date"],
    input[type="month"],
    input[type="week"],
    input[type="time"],
    input[type="datetime"],
    input[type="datetime-local"],
    input[name="field_country_code"],
    input[name="field_city_code"],
    input[name="field_phone_int"],
    select[multiple],
    textarea {
      padding-left: 0.15625em;
      padding-right: 0.15625em;
      font-size: 1em;
      line-height: 1.3125;
      padding-top: 0.875em;
      padding-bottom: 0.875em;
      height: 3.0625em; } }
  @media (max-width: 71.25em) {
    input[type="input"],
    input[type="text"],
    input[type="email"],
    input[type="password"],
    input[type="search"],
    input[type="tel"],
    input[type="url"],
    input[type="number"],
    input[type="date"],
    input[type="month"],
    input[type="week"],
    input[type="time"],
    input[type="datetime"],
    input[type="datetime-local"],
    input[name="field_country_code"],
    input[name="field_city_code"],
    input[name="field_phone_int"],
    select[multiple],
    textarea {
      padding-left: 0.15625em;
      padding-right: 0.15625em;
      font-size: 1.2em;
      line-height: 1.09375;
      padding-top: 0.7291666667em;
      padding-bottom: 0.7291666667em;
      height: 2.5520833333em; } }

input[type="text"], input[type="email"] {
  height: 40px;
  padding-left: 10px;
  font-size: 1em !important; }

textarea {
  height: 150px;
  padding-left: 10px;
  font-size: 1em !important;
  font-family: "Gentium Basic", serif; }

::-webkit-input-placeholder {
  font-style: italic; }

::-moz-placeholder {
  font-style: italic; }

:-ms-input-placeholder {
  font-style: italic; }

.cta-button {
  cursor: pointer;
  background-color: #cf5f7a;
  font-size: 1em;
  color: #e5cea5;
  font-weight: 800;
  border: 0;
  margin-top: 1px;
  height: 38px;
  line-height: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 0.6em;
  padding-bottom: 0.6em;
  border: 1px solid transparent;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.cta-button:hover {
  background-color: #ffffff;
  color: #cf5f7a;
  border-color: #cf5f7a; }

#topWrapper {
  height: 100%; }

#header {
  z-index: 99;
  position: fixed;
  top: 0;
  width: 100%;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 1.5em;
  padding-bottom: 1.5em; }

#logo {
  float: left; }
  #logo img {
    width: 150px; }

.bottom-line {
  margin: 0;
  padding: 0;
  height: 50px;
  width: 100%;
  border: 0;
  box-shadow: inset 0 -50px 50px -50px rgba(0, 0, 0, 0.5);
  position: absolute;
  bottom: 0; }

#main {
  width: 100%;
  height: 100%; }

.block {
  margin-top: 0.75em;
  margin-bottom: 1.5em; }

.block2 {
  margin-top: 3.75em;
  margin-bottom: 0em; }

.block3 {
  margin-top: 1.5em;
  margin-bottom: 1.5em; }

.block4 {
  margin-top: 2.25em;
  margin-bottom: 1.5em; }

.block-title {
  text-align: center; }
  .block-title h1 {
    color: #f9f9f7;
    text-transform: uppercase;
    font-size: 1.728em; }
  .block-title p {
    padding-top: 0;
    font-size: 1.2em;
    color: #3f3f3f; }

.content-block-2-3 .editor-block p {
  line-height: 1.8em; }
.content-block-2-3 .editor-block h3, .content-block-2-3 .editor-block h4 {
  color: #81c2dc; }
.content-block-2-3 .editor-block a, .content-block-2-3 .editor-block a:hover, .content-block-2-3 .editor-block a:visited, .content-block-2-3 .editor-block a:active {
  color: #cf5f7a; }
.content-block-2-3 .editor-block img {
  width: 80%;
  margin-left: 10%;
  margin-top: 0.75em;
  margin-bottom: 0.75em; }
.content-block-2-3 .editor-block ul {
  list-style-type: none; }
  .content-block-2-3 .editor-block ul li::before {
    content: "";
    background: url("../img/arrow-blue.svg") no-repeat;
    display: block;
    float: left;
    height: .5em;
    width: .5em;
    margin-top: 9px;
    margin-right: .5em; }
  .content-block-2-3 .editor-block ul li {
    margin-bottom: .4em; }
.content-block-2-3 .editor-block table {
  border-collapse: collapse;
  border-spacing: 0;
  color: #1e1e1e;
  font-size: 1em;
  margin-top: 0.75em;
  margin-bottom: 0.75em;
  width: 100%; }
.content-block-2-3 .editor-block table, .content-block-2-3 .editor-block th, .content-block-2-3 .editor-block td {
  text-align: left;
  border-bottom: 1px solid #f7f7f0;
  border-collapse: collapse; }
.content-block-2-3 .editor-block tbody {
  border-top: 1px solid #f7f7f0; }
  .content-block-2-3 .editor-block tbody tr td:first-child {
    font-weight: 800; }
.content-block-2-3 .editor-block tbody td, .content-block-2-3 .editor-block th {
  padding-top: 0.45em;
  padding-bottom: 0.45em;
  padding-left: 20px;
  padding-right: 20px; }
.content-block-2-3 .editor-block tbody tr:hover {
  background-color: white; }

#cookieBar {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #81c2dc;
  text-align: center;
  color: #e5cea5;
  padding-top: 0.9em;
  padding-bottom: 0.9em;
  z-index: 9999;
  line-height: 2em;
  background-color: transparent;
  background-color: rgba(129, 194, 220, 0.9);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#E681C2DC,endColorstr=#E681C2DC);
  zoom: 1; }
  #cookieBar a {
    border: 1px solid #e5cea5;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0.15em;
    padding-bottom: 0.15em;
    background-color: #81c2dc;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
  #cookieBar a:hover {
    background-color: #e5cea5;
    color: #81c2dc; }
  #cookieBar a, #cookieBar a:hover, #cookieBar a:visited, #cookieBar a:active {
    white-space: nowrap; }

.footer-holder {
  position: relative;
  overflow: hidden;
  background-color: transparent;
  background-color: rgba(129, 194, 220, 0.8);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#CC81C2DC,endColorstr=#CC81C2DC);
  zoom: 1;
  color: #e5cea5;
  margin-top: 2.25em;
  margin-bottom: 0em; }
  .footer-holder h6 {
    color: #e5cea5;
    margin-bottom: 1em; }
  .footer-holder a, .footer-holder a:hover, .footer-holder a:visited, .footer-holder a:active {
    white-space: nowrap; }

.footer-bg {
  display: block;
  -webkit-filter: blur(15px);
  -moz-filter: blur(15px);
  -o-filter: blur(15px);
  -ms-filter: blur(15px);
  filter: blur(15px);
  opacity: 0.95;
  z-index: -999;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; }
  .footer-bg img {
    max-width: none;
    width: 100%; }

.footer-holder-end {
  background-color: #cf5f7a;
  padding-top: 0.15em;
  padding-bottom: 0em; }
  .footer-holder-end p {
    font-size: .833em; }
  .footer-holder-end a {
    padding-top: .1em; }

.legal {
  float: left; }
  @media (max-width: 37.5em) {
    .legal {
      float: initial;
      margin-top: .7em;
      text-align: center; } }

.design {
  float: right; }
  @media (max-width: 37.5em) {
    .design {
      float: initial;
      margin-bottom: .7em;
      text-align: center; } }

.subscribe-wrapper {
  border-bottom: 2px solid #e5cea5; }

.mailchimp-subscribe h5 {
  color: #e5cea5;
  text-align: center; }
.mailchimp-subscribe .subscribe-sm img {
  height: 30px;
  opacity: 1;
  -webkit-transition: .5s;
  transition: .5s; }
.mailchimp-subscribe .subscribe-sm img:hover {
  opacity: .65;
  -webkit-transition: .5s;
  transition: .5s; }

.subscribe-email {
  margin-left: 26%;
  width: 30%;
  display: block;
  float: left;
  border: 0; }

.subscribe-button {
  float: left;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  overflow: visible;
  position: relative;
  padding-right: 30px;
  display: block;
  cursor: pointer;
  background-color: #cf5f7a;
  font-size: 1.2em;
  color: #e5cea5;
  font-weight: 800;
  border: 0;
  width: 18%;
  height: 40px;
  line-height: 20px; }
  .subscribe-button p {
    padding: 0;
    padding-left: 10px;
    text-align: left; }
  .subscribe-button:hover {
    background-color: #d5738a; }
    .subscribe-button:hover svg {
      transform: rotate(10deg);
      transition: transform .15s; }
  .subscribe-button svg {
    position: absolute;
    top: 5px;
    right: 15px;
    height: 28px;
    width: auto;
    transition: transform .15s; }
    .subscribe-button svg path {
      fill: #e5cea5; }
  .subscribe-button.mailchimp-clicked {
    background-color: #81c2dc;
    color: #e5cea5;
    padding-right: 6px;
    animation: bounce-in .3s;
    cursor: default; }
    .subscribe-button.mailchimp-clicked p {
      text-align: center; }
    .subscribe-button.mailchimp-clicked svg {
      animation: flyaway 1.3s linear;
      top: -80px;
      right: -1000px; }
      .subscribe-button.mailchimp-clicked svg path {
        fill: #e5cea5; }

@keyframes flyaway {
  0% {
    transform: rotate(10deg);
    top: 13px;
    right: 25px;
    height: 30px; }
  5% {
    transform: rotate(10deg);
    top: 13px;
    right: 0px;
    height: 30px; }
  20% {
    transform: rotate(-20deg);
    top: 13px;
    right: -130px;
    height: 45px; }
  40% {
    transform: rotate(10deg);
    top: -40px;
    right: -280px;
    opacity: 1; }
  100% {
    transform: rotate(60deg);
    top: -200px;
    right: -1000px;
    height: 0;
    opacity: 0; } }
@keyframes bounce-in {
  0% {
    padding-right: 30px; }
  40% {
    padding-right: 6px; }
  50% {
    padding-left: 30px; }
  100% {
    padding-left: 6px; } }
.nav-right-hor {
  float: right;
  padding: 0;
  list-style-type: none; }
  .nav-right-hor li {
    float: left;
    margin-right: .5em; }
  .nav-right-hor li:last-child {
    margin-right: 0; }

.nav-left-hor {
  float: left;
  padding: 0;
  list-style-type: none; }
  .nav-left-hor li {
    float: left;
    margin-right: .5em; }
  .nav-left-hor li:last-child {
    margin-right: 0; }

.nav-center-hor {
  margin: 0;
  padding: 0;
  text-align: center;
  list-style-type: none; }
  .nav-center-hor li {
    display: inline; }
  .nav-center-hor a {
    display: inline-block;
    padding-left: 4px;
    padding-right: 4px; }

.nav-lan {
  .font-size: 16;
  .font-weight: 400;
  margin-top: 0;
  padding-top: 0;
  line-height: 1em; }
  .nav-lan li {
    top: 0;
    padding: 0;
    margin-right: .5em; }
  .nav-lan li:last-child {
    margin-right: 0; }
  .nav-lan a {
    line-height: 2.2em;
    margin: 0;
    width: 100%;
    height: 100%;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 0.6em;
    padding-bottom: 0.3em;
    color: #1e1e1e;
    -webkit-transition: .2s;
    transition: .2s;
    background-color: transparent; }
  .nav-lan .selected a, .nav-lan a:active, .nav-lan a:hover {
    background-color: #cf5f7a;
    color: #e5cea5;
    -webkit-transition: .2s;
    transition: .2s; }

#main-nav {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  float: right;
  margin-top: 10px; }
  #main-nav .sm-img {
    width: 27px;
    margin-left: .75em; }
  #main-nav .main-nav-text a, #main-nav .main-nav-text a:visited {
    color: #f9f9f7;
    padding-top: 0.33em;
    padding-bottom: 0.3em;
    padding-left: 12px;
    padding-right: 12px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    border-radius: 2px; }
  #main-nav .main-nav-text a:hover, #main-nav .main-nav-text a:active, #main-nav .main-nav-text .selected a {
    background-color: #cf5f7a;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
  #main-nav .main-nav-text:nth-child(3) a, #main-nav .main-nav-text:nth-child(3) a:visited {
    margin-left: 0px;
    margin-right: 10px; }

.sm-fb, .sm-tw {
  fill: #f9f9f7;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.sm-fb:hover {
  fill: #3b5998;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.sm-tw:hover {
  fill: #0084b4;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.side-navigation {
  display: none; }

.menuButton {
  display: none; }
  @media (max-width: 53.75em) {
    .menuButton {
      display: block;
      position: relative;
      color: #e5cea5;
      height: 45px;
      width: 50px;
      float: right; }
      .menuButton a, .menuButton a:hover, .menuButton a:active, .menuButton a:visited {
        height: 100%;
        float: right; }
      .menuButton img {
        margin-top: 8px;
        margin-left: 10px;
        margin-right: 10px;
        width: 30px;
        height: 30px;
        float: right; } }

.menuRes {
  position: absolute;
  right: 0;
  top: 0;
  margin-right: 55px;
  margin-top: 5px; }

#mobile-header {
  display: none; }

@media only screen and (max-width: 767px) {
  #mobile-header {
    display: block; } }
.sidr {
  font-size: 1em;
  display: none;
  position: absolute;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  width: 260px;
  overflow-x: none;
  overflow-y: auto;
  background: #e5cea5;
  color: #1e1e1e; }
  .sidr ul:last-child li:first-child {
    display: none; }

#sidr-main::before {
  pointer-events: none;
  position: absolute;
  content: " ";
  display: inline-block;
  height: 100%;
  width: 100%;
  z-index: 99999;
  webkit-box-shadow: inset 10px 0px 47px -15px #1e1e1e;
  -moz-box-shadow: inset 10px 0px 47px -15px #1e1e1e;
  box-shadow: inset 10px 0px 47px -15px #1e1e1e; }

.sidr .sidr-inner {
  padding: 0 0 15px; }

.sidr .sidr-inner > p {
  margin-left: 15px;
  margin-right: 15px; }

.sidr.right {
  left: auto;
  right: -260px; }

.sidr ul {
  display: block;
  padding: 0; }

.sidr ul li {
  display: block;
  margin: 0;
  line-height: 48px;
  border-bottom: 1px solid #f7f7f0; }

.sidr ul li a, .sidr ul li span {
  padding: 0 15px;
  display: block;
  text-decoration: none;
  color: #1e1e1e; }

.sidr ul .sidr-class-selected a {
  color: #e5cea5 !important; }

.sidr-class-selected {
  background-color: #cf5f7a; }
  .sidr-class-selected ul li a {
    color: #e5cea5 !important; }
  .sidr-class-selected .sidr-class-selected a {
    color: #e5cea5 !important; }

.sidr ul li:hover, .sidr ul li.active, .sidr ul li.sidr-class-active {
  background-color: #cf5f7a; }
  .sidr ul li:hover a, .sidr ul li.active a, .sidr ul li.sidr-class-active a {
    color: #e5cea5; }

.sidr ul li ul {
  border-bottom: none;
  margin: 0; }

.sidr ul li ul li {
  line-height: 40px; }

.sidr ul li ul li:last-child {
  border-bottom: none; }

.sidr ul li ul li:hover, .sidr ul li ul li.active, .sidr ul li ul li.sidr-class-active {
  border-top: none;
  line-height: 41px; }

.sidr ul li ul li a, .sidr ul li ul li span {
  color: rgba(255, 255, 255, 0.8);
  padding-left: 30px; }

.sidr form {
  margin: 0 15px; }

.sidr label {
  font-size: 13px; }

.sidr input[type="text"], .sidr input[type="password"], .sidr input[type="date"], .sidr input[type="datetime"], .sidr input[type="email"], .sidr input[type="number"], .sidr input[type="search"], .sidr input[type="tel"], .sidr input[type="time"], .sidr input[type="url"], .sidr textarea, .sidr select {
  width: 100%;
  font-size: 13px;
  padding: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 0 10px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  border: none;
  background: rgba(0, 0, 0, 0.1);
  color: rgba(255, 255, 255, 0.6);
  display: block;
  clear: both; }

#carousel {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden; }

.carousel-item {
  position: relative; }
  .carousel-item img {
    width: 100%; }
  .carousel-item ul li:first-child img {
    margin-left: -10%;
    margin-top: -10%;
    width: 120%; }

.carousel-text {
  position: absolute;
  top: 35%;
  left: 0;
  right: 0;
  text-align: center;
  color: #f9f9f7; }
  .carousel-text h1 {
    color: #f9f9f7;
    margin-top: 0em;
    margin-bottom: 0.75em; }
  .carousel-text p {
    font-size: 1.44em;
    padding-left: 100px;
    padding-right: 100px; }
  .carousel-text a {
    font-size: .65em;
    font-family: "Open Sans", sans-serif;
    background-color: #cf5f7a;
    color: #f9f9f7;
    font-weight: 700;
    cursor: pointer;
    border-radius: 30px;
    border: 0;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 0.75em;
    padding-bottom: 0.825em;
    border: 1px solid transparent;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
  .carousel-text a:hover {
    background-color: transparent;
    border-color: #f9f9f7; }

.carousel-overlay {
  background-color: transparent;
  background-color: rgba(69, 165, 203, 0.5);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#8045A5CB,endColorstr=#8045A5CB);
  zoom: 1;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0; }

hr.style-four {
  height: 30px;
  border: 0;
  box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5); }

.slideShowImg {
  opacity: 0; }

.blurheader {
  background-color: transparent;
  background-color: rgba(229, 206, 165, 0.8);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#CCE5CEA5,endColorstr=#CCE5CEA5);
  zoom: 1;
  height: 93px;
  width: 100%;
  position: absolute;
  z-index: -10;
  -webkit-transition: 1s;
  transition: 1s; }
  @media (max-width: 53.75em) {
    .blurheader {
      height: 93px; } }
  @media (max-width: 37.5em) {
    .blurheader {
      height: 91px; } }

@keyframes slideShowFadeInOut {
  0% {
    opacity: 1; }
  18.2% {
    opacity: 1; }
  25% {
    opacity: 0; }
  93.2% {
    opacity: 0; }
  100% {
    opacity: 1; } }
.ImageCarousel .loaded img {
  animation-name: slideShowFadeInOut;
  animation-iteration-count: infinite;
  animation-duration: 40s;
  opacity: 1; }

.ImageCarousel img {
  opacity: 0; }
  @media (max-width: 53.75em) {
    .ImageCarousel img {
      width: 140%;
      margin-left: -20%; } }
  @media (max-width: 37.5em) {
    .ImageCarousel img {
      width: 250%;
      margin-left: -75%; } }

.ImageCarousel img:nth-of-type(1) {
  animation-delay: 30s; }

.ImageCarousel img:nth-of-type(2) {
  animation-delay: 20s; }

.ImageCarousel img:nth-of-type(3) {
  animation-delay: 10s; }

.ImageCarousel img:nth-of-type(4) {
  animation-delay: 0s; }

.search-nav {
  float: right;
  height: 42px;
  margin-top: -0.45em;
  background-color: #a9d5e7; }
  .search-nav input[type="text"] {
    border: transparent;
    height: 42px;
    background-color: #a9d5e7;
    color: #e5cea5;
    float: left; }
  .search-nav .submit-search-form {
    background-image: url("../img/search.svg");
    background-size: 20px;
    background-position: center;
    background-repeat: no-repeat;
    height: 42px;
    float: right;
    width: 42px;
    background-color: transparent;
    border: 0;
    cursor: pointer; }

.search-form-index {
  margin-top: 0; }
  .search-form-index input[type="text"] {
    border: 1px solid #f7f7f0;
    width: 75%;
    height: 60px;
    float: left; }
  .search-form-index input[type="submit"] {
    width: 25% !important;
    text-align: center;
    padding-left: 0px;
    padding-right: 0px;
    float: left;
    margin-top: 0;
    height: 60px; }

.no-results {
  padding-top: 1.5em;
  padding-bottom: 1.5em; }

#searchResults {
  border-top: 1px solid #f7f7f0;
  border-bottom: 1px solid #f7f7f0; }
  #searchResults h4 {
    margin-top: 0em;
    margin-bottom: 0.45em; }
  #searchResults p {
    padding-top: 0em;
    padding-bottom: 0em; }
  #searchResults a {
    padding-top: 0.75em;
    padding-bottom: 0em; }
  #searchResults .block {
    border-bottom: 1px solid #f7f7f0;
    padding-bottom: 2em; }
  #searchResults .block:first-child {
    padding-top: 1em; }
  #searchResults .block:last-child {
    border-bottom: 0;
    padding-bottom: 0; }
  #searchResults .grid-content {
    padding-left: 10px;
    padding-right: 0px; }

select {
  -moz-appearance: none; }

.easy-autocomplete {
  position: relative; }

.easy-autocomplete input:hover, .easy-autocomplete input:focus {
  box-shadow: none; }

.easy-autocomplete a {
  display: block; }

.easy-autocomplete.eac-blue-light input:hover, .easy-autocomplete.eac-blue-light input:focus {
  border-color: #66afe9;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6); }

.easy-autocomplete.eac-blue-light ul {
  border-color: #66afe9;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6); }

.easy-autocomplete.eac-blue-light ul li, .easy-autocomplete.eac-blue-light ul .eac-category {
  border-color: #66afe9; }

.easy-autocomplete.eac-blue-light ul li.selected, .easy-autocomplete.eac-blue-light ul .eac-category.selected {
  background-color: #ecf5fc; }

.easy-autocomplete.eac-green-light input:hover, .easy-autocomplete.eac-green-light input:focus {
  border-color: #41DB00;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(146, 237, 107, 0.6); }

.easy-autocomplete.eac-green-light ul {
  border-color: #41DB00;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(146, 237, 107, 0.6); }

.easy-autocomplete.eac-green-light ul li, .easy-autocomplete.eac-green-light ul .eac-category {
  border-color: #41DB00; }

.easy-autocomplete.eac-green-light ul li.selected, .easy-autocomplete.eac-green-light ul .eac-category.selected {
  background-color: #9eff75; }

.easy-autocomplete.eac-red-light input:hover, .easy-autocomplete.eac-red-light input:focus {
  border-color: #ff5b5b;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(255, 90, 90, 0.6); }

.easy-autocomplete.eac-red-light ul {
  border-color: #ff5b5b;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(255, 90, 90, 0.6); }

.easy-autocomplete.eac-red-light ul li, .easy-autocomplete.eac-red-light ul .eac-category {
  border-color: #ff5b5b; }

.easy-autocomplete.eac-red-light ul li.selected, .easy-autocomplete.eac-red-light ul .eac-category.selected {
  background-color: #ff8e8e; }

.easy-autocomplete.eac-yellow-light input:hover, .easy-autocomplete.eac-yellow-light input:focus {
  border-color: #ffdb00;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(255, 231, 84, 0.6); }

.easy-autocomplete.eac-yellow-light ul {
  border-color: #ffdb00;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(255, 231, 84, 0.6); }

.easy-autocomplete.eac-yellow-light ul li, .easy-autocomplete.eac-yellow-light ul .eac-category {
  border-color: #ffdb00; }

.easy-autocomplete.eac-yellow-light ul li.selected, .easy-autocomplete.eac-yellow-light ul .eac-category.selected {
  background-color: #ffe233; }

.easy-autocomplete.eac-dark-light input:hover, .easy-autocomplete.eac-dark-light input:focus {
  border-color: #333;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(55, 55, 55, 0.6); }

.easy-autocomplete.eac-dark-light ul {
  border-color: #333;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(55, 55, 55, 0.6); }

.easy-autocomplete.eac-dark-light ul li, .easy-autocomplete.eac-dark-light ul .eac-category {
  border-color: #333; }

.easy-autocomplete.eac-dark-light ul li.selected, .easy-autocomplete.eac-dark-light ul .eac-category.selected {
  background-color: #4d4d4d;
  color: #e5cea5; }

.easy-autocomplete.eac-dark {
  color: #e5cea5; }

.easy-autocomplete.eac-dark input {
  background-color: #404040;
  border-radius: 4px;
  box-shadow: 0;
  color: #f6f6f6; }

.easy-autocomplete.eac-dark input:hover, .easy-autocomplete.eac-dark input:focus {
  border-color: #333;
  box-shadow: 0; }

.easy-autocomplete.eac-dark ul {
  border-color: #333; }

.easy-autocomplete.eac-dark ul li, .easy-autocomplete.eac-dark ul .eac-category {
  background-color: #404040;
  border-color: #333; }

.easy-autocomplete.eac-dark ul li.selected, .easy-autocomplete.eac-dark ul .eac-category.selected {
  background-color: #737373;
  color: #f6f6f6; }

.easy-autocomplete.eac-dark-glass {
  color: #e5cea5; }

.easy-autocomplete.eac-dark-glass input {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 4px;
  box-shadow: 0;
  color: #f6f6f6; }

.easy-autocomplete.eac-dark-glass input:hover, .easy-autocomplete.eac-dark-glass input:focus {
  border-color: rgba(0, 0, 0, 0.8);
  box-shadow: 0; }

.easy-autocomplete.eac-dark-glass ul {
  border-color: rgba(0, 0, 0, 0.8); }

.easy-autocomplete.eac-dark-glass ul li, .easy-autocomplete.eac-dark-glass ul .eac-category {
  background-color: rgba(0, 0, 0, 0.8);
  border-color: rgba(0, 0, 0, 0.8); }

.easy-autocomplete.eac-dark-glass ul li.selected, .easy-autocomplete.eac-dark-glass ul .eac-category.selected {
  background-color: rgba(64, 64, 64, 0.8);
  color: #f6f6f6; }

.easy-autocomplete.eac-dark-glass ul li:last-child, .easy-autocomplete.eac-dark-glass ul .eac-category:last-child {
  border-radius: 0 0 4px 4px; }

.easy-autocomplete.eac-blue {
  color: #e5cea5; }

.easy-autocomplete.eac-blue input {
  background-color: #6d9ed1;
  border-radius: 4px;
  box-shadow: 0;
  color: #f6f6f6; }

.easy-autocomplete.eac-blue input::-webkit-input-placeholder {
  color: #f6f6f6; }

.easy-autocomplete.eac-blue input:-moz-placeholder {
  color: #f6f6f6; }

.easy-autocomplete.eac-blue input::-moz-placeholder {
  color: #f6f6f6; }

.easy-autocomplete.eac-blue input:-ms-input-placeholder {
  color: #f6f6f6; }

.easy-autocomplete.eac-blue input:hover, .easy-autocomplete.eac-blue input:focus {
  border-color: #5A91CB;
  box-shadow: 0; }

.easy-autocomplete.eac-blue ul {
  border-color: #5A91CB; }

.easy-autocomplete.eac-blue ul li, .easy-autocomplete.eac-blue ul .eac-category {
  background-color: #6d9ed1;
  border-color: #5A91CB; }

.easy-autocomplete.eac-blue ul li.selected, .easy-autocomplete.eac-blue ul .eac-category.selected {
  background-color: #94b8dd;
  color: #f6f6f6; }

.easy-autocomplete.eac-yellow {
  color: #333; }

.easy-autocomplete.eac-yellow input {
  background-color: #ffdb7e;
  border-color: #333;
  border-radius: 4px;
  box-shadow: 0;
  color: #333; }

.easy-autocomplete.eac-yellow input:hover, .easy-autocomplete.eac-yellow input:focus {
  border-color: #333;
  box-shadow: 0; }

.easy-autocomplete.eac-yellow ul {
  border-color: #333; }

.easy-autocomplete.eac-yellow ul li, .easy-autocomplete.eac-yellow ul .eac-category {
  background-color: #ffdb7e;
  border-color: #333; }

.easy-autocomplete.eac-yellow ul li.selected, .easy-autocomplete.eac-yellow ul .eac-category.selected {
  background-color: #ffe9b1;
  color: #333; }

.easy-autocomplete.eac-purple {
  color: #333; }

.easy-autocomplete.eac-purple input {
  background-color: #d6d1e7;
  border-color: #b8afd5;
  box-shadow: 0;
  color: #333; }

.easy-autocomplete.eac-purple input:hover, .easy-autocomplete.eac-purple input:focus {
  border-color: #333;
  box-shadow: 0; }

.easy-autocomplete.eac-purple ul {
  border-color: #333; }

.easy-autocomplete.eac-purple ul li, .easy-autocomplete.eac-purple ul .eac-category {
  background-color: #d6d1e7;
  border-color: #333; }

.easy-autocomplete.eac-purple ul li.selected, .easy-autocomplete.eac-purple ul .eac-category.selected {
  background-color: #ebe8f3;
  color: #333; }

.easy-autocomplete.eac-bootstrap input {
  border-color: #ccc;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  color: #555;
  padding: 6px 12px; }

.easy-autocomplete-container {
  left: 0;
  position: absolute;
  width: 100%;
  z-index: 2; }

.easy-autocomplete-container ul {
  background: none repeat scroll 0 0 #e5cea5;
  border-top: 1px dotted #ccc;
  display: none;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  position: relative;
  top: -1px; }

.easy-autocomplete-container ul li, .easy-autocomplete-container ul .eac-category {
  background: inherit;
  border-color: #ccc;
  border-image: none;
  border-style: solid;
  border-width: 0 1px;
  display: block;
  font-size: 14px;
  font-weight: normal;
  padding: 4px 12px; }

.easy-autocomplete-container ul li:last-child {
  border-radius: 0 0 2px 2px;
  border-width: 0 1px 1px; }

.easy-autocomplete-container ul li.selected {
  background: none repeat scroll 0 0 #ebebeb;
  cursor: pointer; }

.easy-autocomplete-container ul li.selected div {
  font-weight: normal; }

.easy-autocomplete-container ul li div {
  display: block;
  font-weight: normal;
  word-break: break-all; }

.easy-autocomplete-container ul li b {
  font-weight: bold; }

.easy-autocomplete-container ul .eac-category {
  font-color: #aaa;
  font-style: italic; }

.eac-description .eac-item span {
  color: #aaa;
  font-style: italic;
  font-size: 0.9em; }

.eac-icon-left .eac-item img {
  margin-right: 4px;
  max-height: 30px; }

.eac-icon-right .eac-item {
  margin-top: 8px;
  min-height: 24px;
  position: relative; }

.eac-icon-right .eac-item img {
  margin-left: 4px;
  max-height: 30px;
  position: absolute;
  right: -4px;
  top: -8px; }

/*# sourceMappingURL=easy-autocomplete.css.map */
@media print {
  * {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important; }

  @page {
    margin: 0.5cm; }
  h2, h3 {
    orphans: 3;
    widows: 3;
    page-break-after: avoid; }

  p {
    orphans: 3;
    widows: 3; }

  pre, blockquote {
    border: 1px solid #ccc;
    page-break-inside: avoid; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  a, a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }

  img {
    max-width: 100% !important;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  tr {
    page-break-inside: avoid; } }
