{% if not cookieBarHide %}
  <div id="cookieBar" class="fullWidthAlert alert">
  	<hr class="bottom-line-top bottom-line">
   Om de gebruikservaring van deze site te verbeteren gebruikt deze website cookies.
    <a href="/disclaimer" class="cookie-button">Wat zijn cookies?</a>
    <span id="cookieBarAgree">
    	<svg version="1.1" class="cookie-close" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 200 200" style="enable-background:new 0 0 200 200;" xml:space="preserve">
			<rect x="-17.4" y="83.3" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -41.4214 100.0029)" class="st0" width="234.8" height="33.5"/>
			<rect x="83.3" y="-17.4" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -41.4214 100.0004)" class="st0" width="33.5" height="234.8"/>
		</svg>
    </span>
  </div>
{% endif %}
